@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-custom-background {
      background-image: url('../src/assets/background.jpg');
      background-size: contain;
      background-position: center;
    }
  }
.darkBody {
    background-color: #000;
}